<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crmstudy.mapper.settings.qx.user.UserMapper">
    <select id="SelectUserByActNameAndActPwd" resultType="com.crmstudy.domain.User">
        select * from tbl_user where login_act=#{loginAct} and login_pwd=#{loginPwd}
    </select>

    <select id="SelectAllUser" resultType="com.crmstudy.domain.User">
        select * from tbl_user where lock_state="1";
    </select>
</mapper>
