<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启注解驱动[可省略]-->
    <mvc:annotation-driven/>

    <!-- 访问静态资源 -->
    <mvc:default-servlet-handler/>

    <!--扫描Controller包下的类-->
    <context:component-scan base-package="com.crmstudy.controller.settings.qx.user"/>
    <context:component-scan base-package="com.crmstudy.controller.web.controller"/>
    <context:component-scan base-package="com.crmstudy.controller.workbench"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/settings/**"/>
            <mvc:mapping path="/workbench/**"/>
            <mvc:exclude-mapping path="/settings/qx/user/toIndex"/>
            <mvc:exclude-mapping path="/settings/qx/user/toLogin"/>
            <bean class="com.crmstudy.controller.web.filter.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="beanNameUrlHandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <!--配置视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--文件上传解析器-->
    <!--千万注意！！！ 这个id 一定要是 multipartResolver ，因为不是你来调用 是SpringMVC 自动调用-->
    <bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--上传文件总大小-->
        <property name="maxUploadSize" value="#{1024*1024*5}"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <import resource="classpath:applicationContext-Service.xml"/>

</beans>
