<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crmstudy.mapper.workbench.activity.ActivityMapper">
    <insert id="saveCreateActivity" parameterType="com.crmstudy.domain.Activity">
        insert into
            tbl_activity(id,owner,name,start_date,end_date,cost,description,create_time,create_by)
        value
            (#{id},#{owner},#{name},#{start_date},#{end_date},#{cost},#{description},#{create_time},#{create_by})
    </insert>

<!--    关于将if语句中的and owner like concat("%",#{owner},"%")改为and u1.name like concat("%",#{owner},"%")说明
        在select语句中，on子句的执行顺序是在select子句之前执行的，改之前的语句MySQL引擎在调用on子句时会找不到owner是那个表的字段从而导致查询失败
        改之后，因为u1.user本质是就是owner，不会使用-->
    <select id="selectActivityByConditionForPage" parameterType="map" resultType="com.crmstudy.domain.Activity">
        select a.id, a.name, u1.name as owner, a.start_date, a.end_date, a.cost, a.description,
               a.create_time, u2.name as create_by, a.edit_time, u3.name as edit_by
        from tbl_activity a
        inner join tbl_user u1 on a.owner = u1.id
        inner join tbl_user u2 on a.create_by = u2.id
        left join tbl_user u3 on a.edit_by = u3.id
        <where>
            <if test="name != null and name != ''">
                and a.name like concat("%",#{name},"%")
            </if>
            <if test="owner != null and owner != ''">
                and u1.name like concat("%",#{owner},"%")
            </if>
            <if test="start_date != null and start_date != ''">
                and a.start_date &gt;= #{start_date}
            </if>
            <if test="end_date != null and end_date != ''">
                and a.end_date &lt;= #{end_date}
            </if>
        </where>
        order by a.create_time desc
        limit #{pageNo}, #{pageSize}
    </select>

    <select id="selectActivityByCondition" parameterType="map" resultType="int">
        select count(*)
        from tbl_activity a
        inner join tbl_user u1 on a.owner = u1.id
        inner join tbl_user u2 on a.create_by = u2.id
        left join tbl_user u3 on a.edit_by = u3.id
        <where>
            <if test="name != null and name != ''">
                and a.name like concat("%",#{name},"%")
            </if>
            <if test="owner != null and owner != ''">
                and u1.name like concat("%",#{owner},"%")
            </if>
            <if test="start_date != null and start_date != ''">
                and a.start_date &gt;= #{start_date}
            </if>
            <if test="end_date != null and end_date != ''">
                and a.end_date &lt;= #{end_date}
            </if>
        </where>
    </select>

    <delete id="deleteActivity" parameterType="string">
        delete from tbl_activity where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectActivityById" parameterType="string" resultType="com.crmstudy.domain.Activity">
        select * from tbl_activity where id = #{id}
    </select>

    <update id="updateActivity" parameterType="com.crmstudy.domain.Activity">
        update tbl_activity set owner=#{owner}, name=#{name}, start_date=#{start_date}, end_date=#{end_date},
                                cost=#{cost}, description=#{description}, edit_time=#{edit_time}, edit_by=#{edit_by} where id = #{id};
    </update>

    <select id="findAllActivity" resultType="com.crmstudy.domain.Activity">
        select a.id, a.name, u1.name as owner, a.start_date, a.end_date, a.cost, a.description,
               a.create_time, u2.name as create_by, a.edit_time, u3.name as edit_by
        from tbl_activity a
                 inner join tbl_user u1 on a.owner = u1.id
                 inner join tbl_user u2 on a.create_by = u2.id
                 left join tbl_user u3 on a.edit_by = u3.id
        order by create_time desc
    </select>
</mapper>
